body
    color: #727272!important
#photo
    padding-top: 10%!important
    background-color: #b25639
    img
        border-radius: 50%
        border: 5px solid #ce7155
#clar
    margin-top: 10%
#clar
    span
        color: #b25639
#imgC
    img
        width: 30px
        color: #303030
#nav
    div:hover
        color: white

#two
    margin-left: 15%
    margin-right: 6%
    padding-bottom: 10%
    #colo
         color: #b25639
    p
        width: 80%
#tr
        list-style: url(../img/tro.svg)
            
#exp
    margin-top: 5%
    margin-bottom: 5%

#chek
    list-style: url(../node_modules/bootstrap-icons/icons/check.svg)
    
#educ 
    margin-top: 5%
    margin-bottom: 15%

#skil
    margin-top: 10%
    margin-bottom: 10%

#avantDer
    margin-top: 10%
    margin-bottom: 18%

#der
    margin-top: 15%
    margin-bottom: 15%

#icon
    font-size: 35px

@media screen and ( max-width:500px  )
    #fle
        display: block!important
    #two 
        .d-flex
            display: block!important